In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split as split, KFold, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/wooihaw/datasets/main/ips_basic.csv')
df.head()

   bedroom  foyer  kitchen  living  soho location
0      -59    -90      -76     -67   -80  bedroom
1      -59    -95      -79     -77   -70  bedroom
2      -52    -81      -86     -90   -76  bedroom
3      -66    -83      -81     -69   -70  bedroom
4      -71    -91      -90     -77   -71  bedroom

In [3]:
X = df.drop(columns=['location'])
y = df['location']

In [4]:
kf = KFold(n_splits=3, shuffle=True, random_state=42)

models = {}
models['knn'] = KNeighborsClassifier()
models['lgr'] = LogisticRegression()
models['gnb'] = GaussianNB()
models['dtc'] = DecisionTreeClassifier()
models['svc'] = SVC()
models['rfc'] = RandomForestClassifier()
models['gbc'] = GradientBoostingClassifier()
models['mlp'] = MLPClassifier()

for n in models:
    scores = cross_val_score(models[n], X, y, cv=kf, n_jobs=-1)
    print(f'{n}: {scores.mean():.3%} +/- {scores.std():.3%}')

knn: 81.080% +/- 0.628%
lgr: 81.715% +/- 1.818%
gnb: 81.240% +/- 0.975%
dtc: 73.449% +/- 0.641%
svc: 81.874% +/- 1.072%
rfc: 80.285% +/- 1.490%
gbc: 77.583% +/- 0.434%
mlp: 80.443% +/- 2.044%

In [5]:
win_size = 5 
df['mean_bedroom'] = df['bedroom'].rolling(win_size).mean()
df['mean_living'] = df['living'].rolling(win_size).mean() 
df['mean_kitchen'] = df['kitchen'].rolling(win_size).mean() 
df['mean_soho'] = df['soho'].rolling(win_size).mean() 
df['mean_foyer'] = df['foyer'].rolling(win_size).mean() 
print(df.shape) 
print(df.head(10))

(629, 11)
   bedroom  foyer  kitchen  living  soho location  mean_bedroom  mean_living  mean_kitchen  mean_soho  mean_foyer
0      -59    -90      -76     -67   -80  bedroom           NaN          NaN           NaN        NaN         NaN
1      -59    -95      -79     -77   -70  bedroom           NaN          NaN           NaN        NaN         NaN
2      -52    -81      -86     -90   -76  bedroom           NaN          NaN           NaN        NaN         NaN
3      -66    -83      -81     -69   -70  bedroom           NaN          NaN           NaN        NaN         NaN
4      -71    -91      -90     -77   -71  bedroom         -61.4        -76.0         -82.4      -73.4       -88.0
5      -68    -94      -74     -77   -71  bedroom         -63.2        -78.0         -82.0      -71.6       -88.8
6      -83    -88      -75     -74   -76  bedroom         -68.0        -77.4         -81.2      -72.8       -87.4
7      -67    -78      -76     -81   -66  bedroom         -71.0        -75.6         -79.2      -70.8       -86.8
8      -61    -85      -84     -81   -84  bedroom         -70.0        -78.0         -79.8      -73.6       -87.2
9      -68    -94      -88     -92   -87  bedroom         -69.4        -81.0         -79.4      -76.8       -87.8

In [6]:
df = df.dropna()
df.head(10)

    bedroom  foyer  kitchen  living  soho location  mean_bedroom  mean_living  mean_kitchen  mean_soho  mean_foyer
4       -71    -91      -90     -77   -71  bedroom         -61.4        -76.0         -82.4      -73.4       -88.0
5       -68    -94      -74     -77   -71  bedroom         -63.2        -78.0         -82.0      -71.6       -88.8
6       -83    -88      -75     -74   -76  bedroom         -68.0        -77.4         -81.2      -72.8       -87.4
7       -67    -78      -76     -81   -66  bedroom         -71.0        -75.6         -79.2      -70.8       -86.8
8       -61    -85      -84     -81   -84  bedroom         -70.0        -78.0         -79.8      -73.6       -87.2
9       -68    -94      -88     -92   -87  bedroom         -69.4        -81.0         -79.4      -76.8       -87.8
10      -61    -88      -67     -67   -68  bedroom         -68.0        -79.0         -78.0      -76.2       -86.6
11      -62    -87      -79     -78   -87  bedroom         -63.8        -79.8         -78.8      -78.4       -86.4
12      -57    -87      -72     -70   -81  bedroom         -61.8        -77.6         -78.0      -81.4       -88.2
13      -68    -85      -82     -91   -81  bedroom         -63.2        -79.6         -77.6      -80.8       -88.2

In [7]:
X2 = df.drop(columns=['location'])
y2 = df['location']

for n in models:
    scores = cross_val_score(models[n], X2, y2, cv=kf, n_jobs=-1)
    print(f'{n}: {scores.mean():.3%} +/- {scores.std():.3%}')

knn: 98.400% +/- 0.228%
lgr: 96.960% +/- 0.230%
gnb: 98.079% +/- 0.395%
dtc: 97.118% +/- 1.041%
svc: 98.240% +/- 0.224%
rfc: 98.880% +/- 0.228%
gbc: 97.920% +/- 0.229%
mlp: 93.436% +/- 3.523%